<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{%block title%}custom furnish{% endblock%}</title>
    <link rel="stylesheet" href="/static/foundation.css">
    <link rel="stylesheet" href="/static/foundation.min.css">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/app.css">

</head>

<body>

<div id="body-wrapper">
    <div class="off-canvas-wrap">
        <div class="columns large-4 medium-4">
            <a href="#"><img src="/static/custom-furnish.png" alt="icon" style="width: 320px; height: 50px;"></a>
        </div>

        <div class="columns large-8 medium-8">
            <ul class="button-group right">
                <li ><a href="#" style="color: black;"><img src="/static/fi-telephone.svg" alt="phone" style="width:20px; height:20px;">040-660660454</a></li>
                <li><p>|</p></li>
                <li ><a href="#" style="color: black;"><img src="/static/fi-mail.svg" alt="mail" style="width:20px; height:20px;">Wecare@kustomMade.com</a></li>
                <li><a href="#"><img src="/static/fi-torso.svg" alt="icon" style="width:32px; height:32px;"><p style="margin-bottom: 0;text-align: center; color: black;">Sign In </p></a></li>
                <li><a href="#"><img src="/static/fi-shopping-cart.svg" alt="icon" style="width:32px; height=16px;"><p  style="margin-bottom: 0;padding-left: 8px;text-align: center;color: black;">Cart</p></a></li>
            </ul>
        </div>
    </div>

    <nav class="top-bar"  role="navigation">
        <section class="top-bar-section">
            <ul>
                <li><a href="#">LIVING ROOM</a></li>
                <li><a href="#">KITCHEN</a></li>
                <li><a href="#">BED ROOM</a></li>
                <li><a href="#">HOME DECORE</a></li>
                <li><a href="#">OFFICE</a></li>
                <li><a href="#">FULL-HOUSE</a></li>
                <li><a href="#">DESIGN-SERVICE</a></li>
                <li><a href="#">HOW IT WORKS</a></li>
                <li><a href="#">OUR PROJECTS</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </section>
    </nav>

    <div id="hr1"><hr></div>

    <div class="image_class">
        <img src="/static/pic1.jpg" alt="pic1">
        <div id="one">YOUR INTERIOR DESIGN PARTNER</div>
        <div id="two">GET YOUR HOME DESIGNED BY OUR EXPERT DESIGNERS</div><br>
        <div id="three">DESIGN SERVICE <small> STARTS FROM </small><strong> Rs 20,000/-*</strong> </div>
        <div id="knowmore"><a href="#" class="button alert" style="background-color: red; color: white;">KNOW MORE</a></div>
        <div id="four">*Get All Production ready Documents - Designs, Engineering Drawings, Bill of Material </div>
        <div id="five">
        <form>
            <div class="row" id="form1" style="margin-left: 5%">
                <div class="large-2 columns left">
                    <input type="text" placeholder="Name" />
                </div>

                <div class="large-4 columns left">
                    <input type="email" placeholder="Email" />
                </div>

                <div class="large-2 columns left">
                    <input type="text" placeholder="Phone" />
                </div>

                <div class="large-2 columns left" >
                    <a  href="#" class="button alert " style="padding-bottom: 10px; padding-top: 10px; background-color: red; color: white;">CONTACT ME</a>
                </div>

                <div class="large-2 columns">
                    <a href="#"><u>VIEW PACKAGES</u></a>
                </div>
            </div>
        </form>
        </div>
    </div>
    <br>

    <div class="hiw">
        <div id="hiw1">HOW IT WORKS</div>
        <div id="hiw2"><hr></div>
        <div id="hiw3">

                <ul class="tabs " data-tab>
                    <li class="tab-title"><a href="#bookorder"><div class="num_font">1</div>BOOK ORDER</a></li>
                    <li class="tab-title"><a href="#"><div class="num_font">2</div>CONNECT TO DESIGNER</a></li>
                    <li class="tab-title"><a href="#"><div class="num_font">3</div>FURNITURE LAYOUT</a></li>
                    <li class="tab-title"><a href="#"><div class="num_font">4</div>MATERIALS & COLORS</a></li>
                    <li class="tab-title"><a href="#"><div class="num_font">5</div>3D RENDERS</a></li>
                    <li class="tab-title"><a href="#"><div class="num_font">6</div>PRODUCTION DOCUMENTS</a></li>
                </ul>
            <div class="tabs-content">
                <div class="content active"  id="bookorder">
                    <p >Book your order by Uploading your floor plan and Photographs</p>
                </div>
            </div>

        </div>
    </div>


    <div class="pkg">
        <div id="pkg1">PACKAGES</div>
        <div id="pkg2"><hr></div>
        <div id="pkg3">
        <br><br>
            <div class="row" style="max-width: 41.5rem">

                <div class="column large-12">
                <div class="column large-4">
                    <div id="boxshadow">
                        <table >
                            <thead>
                            <tr>
                                <th width="200" style="color:red;">TYPE OF PACKAGE</th>
                                <th width="200" style="color:red; text-align: center;">PRICE</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1 - BHK</td>
                                <td style="text-align: center;">Rs 20,000/-</td>
                            </tr>
                            <tr>
                                <td>2 - BHK</td>
                                <td style="text-align: center;">Rs 30,000/-</td>
                            </tr>
                            <tr>
                                <td>3 - BHK</td>
                                <td style="text-align: center;">Rs 45,000/-</td>
                            </tr>
                            <tr>
                                <td>4 - BHK</td>
                                <td style="text-align: center;">Rs 60,000/-</td>
                            </tr>
                            <tr>
                                <td>VILLA</td>
                                <td style="text-align: center;">Rs 75,000/-</td>
                            </tr>
                            </tbody>
                        </table>
                        <div id="pkg4">
                            Includes Space layout & Furniture design, 3D renders,<br>
                            Walkthrough, BOM and Engineering drawings, Estimate<br><br><br>
                            The desihns can be revised till you are fully satisfied.<br><br>
                            We Will Provide Manufacture & Install
                        </div>
                    </div>
                    </div>

                    <div class="column large-2">
                        <div class="vertical_line"></div>
                    </div>

                    <div class="column large-4">
                        <div id="boxshadow1">
                            <form id="details">
                                    <div class="small-16 columns">
                                        <input type="text" placeholder="NAME" />
                                    </div><br>

                                    <div class="small-16 columns">
                                        <input type="email" placeholder="EMAIL" />
                                    </div><br>

                                    <div class="small-16 columns">
                                        <input type="text" placeholder="PHONE" />
                                    </div><br>

                                    <div class="small-6 columns">
                                        <input type="text" placeholder="CITY" />
                                    </div>

                                    <div class="small-6 columns">
                                        <input type="text" placeholder="PINCODE" />
                                    </div><br>

                                    <div class="small-16 columns">
                                        <input type="text" list="package" name="package" placeholder="SELECT PACKAGE" />
                                            <datalist id="package">
                                                <option value="package1">
                                                <option value="package2">
                                            </datalist>
                                    </div>


                                    <div class="small-6 columns left">
                                        <input type="text" placeholder="UPLOAD DOCS" />
                                    </div>

                                    <div class="large-4 columns left">
                                        <a  href="#" class="button alert " style="background-color: grey; color: black">UPLOAD</a>
                                    </div><br>

                                    <textarea placeholder="NOTES"></textarea><br>

                                    <div class="row">
                                        <div class="large-5 columns left">
                                            <a  href="#" class="button tiny" style="background-color: red; color: white">BOOK NOW</a>
                                        </div>
                                        <div class="large-7 columns left">
                                            <a href="#"><u>NEED ASSISTANCE ?</u></a>
                                        </div>
                                    </div><br>
                            </form>
                        </div>
                    </div>
            </div>
            </div>
            <br><br><br>
        </div>
    </div><!--packages-->
    <br>

    <div id="wwo">
        <div class="heading">WHAT WE OFFER</div>
        <div class="line"><hr></div>
        <div class="row" style="max-width: 41.5rem">
            <div class="column large-12">
                <div class="column large-6">
                    <div id="boxshadow2">
                        <img src="/static/plan.png">
                        <div id="designonly">
                            DESIGN ONLY<br><br>Space layout & Furniture design, 3D renders, Walkthrough, BOM<br>
                            and Engineering drawings, Estimate<br><br>
                            <div>
                                        <a href="#" style="color: white"><u>Click Here to Know more</u></a>
                            </div><br>
                        </div>
                    </div><!--boxshadow2-->
                </div><!--design only-->
                <div class="column large-6">
                    <div id="boxshadow3">
                        <img src="/static/deco.png">
                        <div id="designexecute">
                            DESIGN & EXECUTE*<br><br>Space layout & Furniture design, 3D renders, Walkthrough, BOM<br>
                            and Engineering drawings, Estimate<br>+<br>Manufacture & Install<br>
                            <div>
                                        <a href="#" style="color: white"><u>Click Here to Know more</u></a>
                            </div>
                        </div>
                    </div><!--boxshadow2-->
                    <p class="right" style="font-size: 90%; margin-right: -70%;">*AVAILABLE ONLY IN BANGLORE, HYDERABAD</p>
                </div><!--design only-->
            </div><!--col 12-->
        </div><!--class row-->
    </div><!--what we offer-->
    <br>

    <div id="whyus">
        <div class="heading">WHY US ?</div>
        <div class="line"><hr></div>
        <br>
        <div class="row">
            <div class="column large-12">
                <div class="column large-3" >
                    <img src="/static/circle-2.png"><br>
                    <div id="circle-1">TEAM</div>
                    <div class="caption">100 + HIGHLY QUALIFIED<br>INTERIOR DESIGNERS</div>
                </div>
                <div class="column large-3" >
                    <img src="/static/circle-3.png"><br>
                    <div id="circle-2">CUSTOMIZED<br>DESIGNS</div>
                    <div class="caption">GET YOUR HOME INTERIORS<br>DESIGNED ACCORDING TO<br>YOUR PREFERENCES</div>
                </div>
                <div class="column large-3" >
                    <img src="/static/circle-1.png"><br>
                    <div id="circle-3">3D<br>VISUALIZATION</div>
                    <div class="caption">VISUALIZE YOUR HOME BEFORE<br>YOU DECIDE TO IMPLEMENT</div>
                </div>
                <div class="column large-3" >
                    <img src="/static/circle-4.png"><br>
                    <div id="circle-4">INTEGRATED<br>DELIVERY</div>
                    <div class="caption">IN-HOUSE CAPABILITIES TO<br>DESIGN, MANUFACTURE & <br>INSTALL THE DESIGNS<br>PROPOSED</div>
                </div>
            </div><!--col 12-->
        </div><!--class row-->
    </div><!--why us-->
    <br>

    <div id="sp">
        <div class="heading">SAMPLE PROJECT</div>
        <div class="line"><hr></div>
        <br>
        <div class="row">
            <div class="flex-video">
                <iframe width="10px" height="15px" src="http://www.youtube.com/embed/0_EW8aNgKlA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div><!--sample project-->
    <br>

    <div id="gallery">
        <div class="heading">GALLERY</div>
        <div class="line"><hr></div>
        <h5 style="color: red; margin-left: 14%">PREVIOUS PROJECT NAME<br></h5>
        <div class="row">
            <div class="large-6 columns left">
                <img src="/static/kitchen.jpg">
            </div><!--col 6-->
            <div class="large-6 columns left" style="padding:0%">
                <div class="large-6 columns left">
                    <img src="/static/bed.jpg">
                </div><!--col 6-->
                <div class="large-6 columns left">
                    <img src="/static/bed.jpg">
                </div><!--col 6-->
                <br><br>
                <div class="large-6 columns left" style="padding-top:1%">
                    <img src="/static/bed.jpg">
                </div><!--col 6-->
                <div class="large-6 columns left" style="padding-top:1%">
                    <img src="/static/bed.jpg">
                </div><!--col 6-->
            </div>
        </div><!--class row-->
    </div><!--gallery-->
    <br><br>

    <div id="testimonials">
        <div class="heading">TESTIMONIALS</div>
        <div class="line"><hr></div>
        <div class="row">
            <div class="column large-12">
                <div class="column large-3" id="test1">
                    <img class="test_img" src="/static/first.jpg"><br>
                    <div class="test_head">SURESH & MEENAKSHI</div>
                    <div class="test_cap"> WE PLACE THE FULL_HOUSE FURNITURE<br>ORDER WITH CUSTOMFURNITURE, THEY<br>
                    HAVE BEAUTIFULLY FURNISHED MY<br>HOME<br></div>
                </div><!--col 3-->
                <div class="column large-3" id="test2">
                    <img class="test_img" src="/static/second.jpg"><br>
                    <div class="test_head">SHASTRI</div>
                    <div class="test_cap">WE PLACE THE FULL_HOUSE FURNITURE<br>ORDER WITH CUSTOMFURNITURE, THEY<br>
                    HAVE BEAUTIFULLY FURNISHED MY<br>HOME<br></div>
                </div><!--col 3-->
                <div class="column large-3" id="test3">
                    <img class="test_img" src="/static/third.jpg"><br>
                    <div class="test_head">G VENKATA RAMANA RAO</div>
                    <div class="test_cap">WE PLACE THE FULL_HOUSE FURNITURE<br>ORDER WITH CUSTOMFURNITURE, THEY<br>
                    HAVE BEAUTIFULLY FURNISHED MY<br>HOME<br></div>
                </div><!--col 3-->
                <div class="column large-3" id="test4">
                    <img class="test_img" src="/static/fourth.jpg"><br>
                    <div class="test_head">MEERA SRINIVAS</div>
                    <div class="test_cap">WE PLACE THE FULL_HOUSE FURNITURE<br>ORDER WITH CUSTOMFURNITURE, THEY<br>
                     HAVE BEAUTIFULLY FURNISHED MY<br>HOME<br></div>
                </div><!--col 3-->
            </div><!--col 12-->
        </div><!--class row-->
        <br><br>
    </div><!--testimonials-->
    <br>

    <div id="faq">
        <div class="heading">FAQ</div>
        <div  class="line"><hr></div>
        <div class="question">How do I book an order with customfurnish.com?</div><br>
        <div class="answer">Ans: You can book an order with us online by clicking on the BOOK NOW button and furnishing all the mandatory information & files</div><br><br>
        <div class="question">Is the booking amount refundable?</div><br>
        <div class="answer">Ans: If you are opting for Design only package,then the amount you pay is design fee and it is not refundable.However if you select Design and Execute package,<br>the amount
            you pay at the time of booking the order will be absorbed in the total project cost.</div><br><br>
        <div class="question">Can I switch the package I select at later point?</div><br>
        <div class="answer">Ans: You are free to switch from one package to other at any time.If you decide to switch from Design only to Design & Execute, your booking amount will be absorbed in<br>
            the total project cost. However, if you sign-up for Design & Execute package and later decide to avail our design services, we'll not be providing you the Designs,BOM &<br>
            Engineering drawings.</div>
    </div><!--faq-->
    <br><br><br>

</div>
<script src="static/jquery.js"></script>
<script src="static/foundation.js"></script>
<script src="static/foundation.min.js"></script>
<script type="text/javascript" src="/static/modernizr.js"></script>
<script>
    $(document).foundation();
</script>

</body>

</html>


