body{
overflow-x:hidden;
}

li{
padding:5px
}

#fix{
   background-color: #fff;
   margin-top: -0.5%;
    margin-bottom: 0.7%;
}

#row1{
    background-color:#dad6d6;
    max-width: 116.5rem;
    height: 34px;
}

#fix .top-bar-section, nav.top-bar{
background: #fff;
}

#fix .top-bar-section ul li {
    background: #fff;
}

#fix nav.top-bar{
text-align: center;
}

#fix .top-bar-section li:not(.has-form) a:not(.button){
background: #fff;
color: #000;
font-size:16px;
text-align: center;
}

#fix .top-bar-section li:not(.has-form) a:not(.button):hover{
background: #fff;
color: #ff3333;
}

#fix section.top-bar-section {
display: inline-block;

}

#hr1 {
    border-top: 2px solid #ff3333;
    margin: 0px;
}

#first #img{
position: relative;
opacity: 0.9;
}

#first #one{
position: absolute;
top: 45%;
left: 30%;
font-size:40px;
color: #fff;
}

#first #two{
position: absolute;
top: 58%;
left: 33%;
font-size:20px;
color: #fff;
}

.num_font{
    font-size: 200%;
    font-weight: bold;
}


.tabs{
background-color: white;
}

.tab-title a:not(.button){
    text-align: left;
    background-color: #A95F3E ;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;

}

.tab-title li:not(.has-form) a:not(.button):hover{
background: #A95F3E;
color: white;

}

.tabs .tab-title {
    width: 25%;
}

#first #lay_out{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 45%;
    width: 287px;
}

#first #four{
    background-color: #444444;
}

#first #four #form1{
    max-width: 103.5rem;
    margin-left: 11%;
        padding-top: 1.5%;
    padding-bottom: 0.5%;
}

.pkg #pkg1{
    text-align: center;
    font-size: 175%;}

.pkg #pkg2 hr{
    margin-left: 14%;
    margin-right: 14%;
    border-top: 1px solid grey;
}

.pkg #pkg3{
background-color: #e0e0eb;
}

.pkg #pkg3 #boxshadow {
width: 550px;
box-shadow: 0px 0px 1px 2px #999999;
background-color: white;
margin-left: -276px;
padding-top: 50px;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 80px;
}

.pkg #pkg3 #boxshadow1 {
width: 450px;
box-shadow: 0px 0px 1px 2px #999999;
background-color: white;
margin-left: -50%;
padding-top: 50px;
padding-left: 40px;
padding-right: 40px;

}


.pkg #pkg3 boxshadow table{
    border: 2px solid black;
    padding: 6px;
}


.pkg #pkg3 boxshadow table, td{
    border: none;
    padding:6px;
}

.pkg #pkg3 #boxshadow table{
    width: 100%;
    height: 100%;
}

.pkg #pkg3 boxshadow table {
    border-collapse: collapse;
    width: 100%;
}

div.vertical_line{
margin-top: 70px;
margin-left: 121%;
height: 350px;
width:1px;
background: black;
}

#wwo .heading{
    text-align: center;
    font-size: 175%;}

#wwo .line hr{
    margin-left: 14%;
    margin-right: 14%;
    border-top: 1px solid grey;
}

#wwo #boxshadow2 {
width: 500px;
box-shadow: 0px 0px 1px 2px #999999;
background-color: white;
margin-left: -250px;
padding-top: -250px;
padding-left: 135px;
padding-right: 40px;

}

#wwo #boxshadow2 #designonly{
    width: 500px;
    background-color: #007a99;
    margin-left: -135px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 37px;
    text-align: center;
    color: white;
    font-size: 80%;
}

#wwo #boxshadow3 {
width: 500px;
box-shadow: 0px 0px 1px 2px #999999;
background-color: white;
margin-left: 8px;
padding-top: 10px;
padding-left: 139px;
padding-right: 40px;

}

#wwo #boxshadow3 #designexecute{
    width: 500px;
    background-color: #007a99;
    margin-left: -139px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    font-size: 80%;
}

#whyus .heading{
    text-align: center;
    font-size: 175%;}

#whyus .line hr{
    margin-left: 14%;
    margin-right: 14%;
    border-top: 1px solid grey;
}

#whyus #circle-1{
position: absolute;
top: 30%;
left: 30%;
color: #fff;
font-size: 22px;
}

#whyus #circle-2{
position: absolute;
top: 24%;
color: #fff;
    font-size: 22px;
    left: 16%;
    text-align: center;
}

#whyus #circle-3{
position: absolute;
    left: 10%;
    top: 24%;
    text-align: center;
    font-size: 22px;
color: #fff;
}

#whyus #circle-4{
position: absolute;
left: 16%;
    top: 22%;
    text-align: center;
    font-size: 22px;
color: #fff;
}

#whyus .caption{
text-align: center;
font-size: 13px;
}

#sp .heading{
    text-align: center;
    font-size: 175%;}

#sp .line hr{
    margin-left: 14%;
    margin-right: 14%;
    border-top: 1px solid grey;
}

#gallery .heading{
    text-align: center;
    font-size: 175%;
    color: black;
}

#gallery .line hr{
    margin-left: 14%;
    margin-right: 14%;
    border-top: 1px solid grey;
    color: white;
}



#testimonials .heading{
    text-align: center;
    font-size: 175%;
    color: white;
}

#testimonials .line hr{
    margin-left: 14%;
    margin-right: 14%;
    border-top: 1px solid white;
    color: white;
}

#testimonials{
    background-color: grey;
}

#testimonials .test_head, .test_cap{
    background-color: white;
    color: black;
}


#testimonials .test_head{
    text-align: center;
    width: 310px;
    font-size: 110%;
    padding-top: 6%;
    padding-bottom: 5%;

}

#testimonials .test_cap {
    text-align: left;
    width: 310px;
    font-size: 78%;
    padding-left:10%;
    padding-bottom: 5%;
}

#testimonials .test_img{
    width: 400px;
}

#testimonials #test1{
    margin-left: -22%;
    width: 35%
}

#testimonials #test2{
    margin-left: 1%;
    width: 35%;
}

#testimonials #test3{
    margin-left: 1%;
    width: 35%;
}

#testimonials #test4{
    margin-right: -22%;
    width: 35%;
}


#faq .heading{
    text-align: center;
    font-size: 175%;}

#faq .line hr{
    margin-left: 14%;
    margin-right: 14%;
    border-top: 1px solid grey;
}

#faq .question{
    font-size: 125%;
    margin-left: 200px;
}

#faq .answer{
    font-size: 100%;
    margin-left: 200px;
}




footer .line hr{
    margin-left: 8%;
    margin-right: 8%;
    border-top: 1px solid black;
}

footer .bgc{
    background-color: lightyellow;
    margin-top: -1%;
    margin-left: 8%;
    margin-right: 8%;
}

footer .row{
    max-width: 90.5rem;
}

footer .line1 hr{
    margin-left: 10%;
    margin-right: 10%;
    border-top: 1px solid black;
}

footer .img{
    width: 64px;
    height: 64px;
}

footer li{
padding:5px
}
